@model wrBlogs.Net.ViewModel.LoginViewModel
@{
    Layout = null;
    //使用asp-controller等熟悉需要引用Microsoft.AspNetCore.Mvc.TagHelpers，同时还要添加_ViewImports页
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wrBlogs.Net 开源博客后台登录页</title>
    <meta name="description" content="wrBlogs.Net 开源博客后台登录页">
    <meta name="keywords" content="wrBlogs.Net">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @* 开发环境下使用 *@
    <environment names="Development">
        <link rel="stylesheet" href="~/Thrid/layui/css/layui.css" />
        <link rel="stylesheet" href="~/Content/css/login.css" />
        <link rel="stylesheet" href="~/Content/css/custom.css" />
        <script type="text/javascript" charset="utf-8" src="~/Thrid/layui/layui.js"></script>
        <script type="text/javascript" charset="utf-8" src="/Content/js/common/jparticle.jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="/Content/js/manage/login.js"></script>
    </environment>
    @* 预演、生产环境下使用 *@
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/Content/css/amazeui.min.css" />
        <link rel="stylesheet" href="~/Content/css/amazeui.datatables.min.css" />
        <link rel="stylesheet" href="~/Content/css/app.css" />
        <link rel="stylesheet" href="~/Content/css/custom.css" />
        <script type="text/javascript" charset="utf-8" src="~/Content/js/common/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Content/js/common/amazeui.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Content/js/data/messages_zh.js"></script>
        <script type="text/javascript" charset="utf-8" src="~/Content/js/manage/login.js"></script>
    </environment>
</head>

<body>
    <div class="layui-canvs"></div>
    <div class="layui-layout layui-layout-login">
        <h1>
            <strong>系统后台</strong>
            <em>Management System</em>
        </h1>
        <div class="layui-user-icon larry-login">
            <input type="text" placeholder="账号" class="login_txtbx" />
        </div>
        <div class="layui-pwd-icon larry-login">
            <input type="password" placeholder="密码" class="login_txtbx" />
        </div>
        <div class="layui-val-icon larry-login">
            <div class="layui-code-box">
                <input type="text" id="code" name="code" placeholder="验证码" maxlength="4" class="login_txtbx">
                <img src="/Login/ValidateCode" alt="" class="verifyImg" id="verifyImg" onclick="javascript:this.src='/Login/ValidateCode?' + Math.random();">
            </div>
        </div>
        <div class="layui-submit larry-login">
            <input type="button" value="立即登陆" class="submit_btn" />
        </div>
    </div>
    
</body>
</html>
